:root {
  --primary: #275d27;
  --black: #262626;
  --white: #fff;
  --fuente-principal: 'Inter', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

[class*='container'],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}

[class*='heading'] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0
}
